/* CUSTOM-PROPS */
:root {
    --striking-color: #5267DF;
    --component-color: #FA5959;
    --text-color: #242A45;
    --text-color-half: rgba(36, 42, 69, 0.5);
    --text-color-saucer: rgba(36, 42, 69, 0.75);
    --helper-color: #9194A2;
    --font-family: "Rubik";
}

/* FONT */
@font-face {
    font-family: "Rubik";
    src: url("../font/") format("woff2"),
    url("../font/Rubik-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../font/Rubik-Medium.woff2") format("woff2"),
    url("../font/Rubik-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*:focus {
    outline: 2px dashed transparent;
    outline-offset: 2px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--striking-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family), "Arial", sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

img {
    max-width: 100%;
    height: auto;
}

/* BUTTON */
.button {
    border: 0;
    padding: 0;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1110px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT */
.main-content {
    flex-grow: 1;
}

/* SITE-HEADER */
.site-header {
    padding-top: 48px;
    padding-bottom: 48px;
}

.site-header__container {
    display: flex;
    align-items: center;
    max-width: 1140px;
}

/* LOGO */
.logo {
    display: flex;
    flex-shrink: 0;
    text-decoration: none;
    margin-right: auto;
    padding-right: 20px;
}

.logo__img {
    width: 150px;
    height: 25px;
    object-fit: contain;
}

/* SITENAV */
.sitenav {
    margin-right: 48px;
}

.sitenav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 44px;
}

.sitenav__link {
    text-decoration: none;
    display: block;
    white-space: nowrap;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    color: var(--text-color);
    text-transform: uppercase;
    transition: color 0.2s ease;
}

.sitenav__link:hover {
    color: var(--component-color);
}

.button-login {
    background-color: var(--component-color);
    border: 2px solid var(--component-color);
    padding: 9px 30px;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 1.5px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.button-login:hover {
    background-color: #fff;
    color: var(--component-color);
}

/* HAMBURGER-BTN */
.site-header__hamburger {
    display: none;
}

/* MOBILE-MENU */
.mobile-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 33px 48px;
    background-color: rgba(36, 42, 69, 0.95);
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    z-index: 5;
}

.mobile-header--active {
    transform: translateX(0%);
}

.mobile-header__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mobile-header__close {
    width: 15px;
    height: 15px;
    display: block;
}

.sitenav-header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sitenav-header__list {
    padding: 0;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 100%;
}

.sitenav-header__item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 24px;
    padding-bottom: 24px;
}

.sitenav-header__link {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2.3px;
}

.mobile-header__form {
    margin-bottom: auto;
    padding-bottom: 20px;
    align-self: center;
}

.mobile-login {
    padding: 13px;
    font-size: 20px;
    line-height: 17px;
    letter-spacing: 2.3px;
    border: 2px solid #fff;
    text-transform: uppercase;
    background-color: transparent;
    width: 308px;
}

.social-header {
    align-self: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.social-header__svg {
    display: block;
}

.logo-hamburger-none {
    opacity: 0;
}


/* HERO */
.hero {
    padding-top: 66px;
    padding-bottom: 105px;
    background-image: url("../img/main/bg-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 710px) 200px;
}

.hero__container {
    display: flex;
    max-width: 1150px;
}

.hero__text {
    padding-top: 70px;
    width: 540px;
    margin-right: 65px;
    flex-shrink: 0;
}

.hero__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: -0.15px;
    color: var(--text-color);
    margin-top: 0;
    margin-bottom: 24px;
    text-transform: capitalize;
}

.hero__subtitle {
    margin-top: 0;
    margin-bottom: 32px;
    color: var(--text-color-half);
}

.hero__buttons {
    display: inline-flex;
    align-items: center;
}

.buttons-hero__blue,
.buttons-hero__light {
    background-color: var(--striking-color);
    padding: 8px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
}

.buttons-hero__blue {
    background-color: var(--striking-color);
    margin-right: 16px;
    border: 2px solid var(--striking-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.buttons-hero__blue:hover {
    background-color: #fff;
    color: var(--striking-color);
    
}

.buttons-hero__light {
    color: var(--text-color-saucer);
    background-color: #f7f7f7;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.buttons-hero__light:hover {
    border-color: var(--text-color-saucer);
}

.hero__img {
    flex-shrink: 0;
    width: 578px;
    object-fit: contain;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
}


/* MEDIA-QUERIES */
/* 1260PX */
@media only screen and (max-width: 1260px) {
    .hero__container {
        flex-direction: column-reverse;
    }
    
    .hero__text {
        margin-right: 0;
        padding-top: 94px;
    }
    
    .hero__img {
        align-self: flex-end;
    }
    
    .hero {
        background-position: calc(50% + 520px) 160px;
    }
}

/* 1000PX */
@media only screen and (max-width: 1000px) {
    .hero {
        background-position: calc(50% + 480px) 160px;
    }
}

/* 850PX */
@media only screen and (max-width: 850px) {
    .hero {
        background-position: calc(50% + 400px) 160px;
    }
}

/* 700PX */
@media only screen and (max-width: 700px) {
    .sitenav,
    .site-header__form {
        display: none;
    }
    
    .site-header__hamburger {
        display: block;
    }
    
    .hero__img {
        align-self: center;
    }
    
    .hero {
        background-position: calc(50% + 340px) 150px;
    }
}

/* 600PX */
@media only screen and (max-width: 600px) {
    .site-header {
        padding-bottom: 80px;
    }
    
    .hero {
        padding-top: 0;
        background-position: calc(50% + 280px) 84px;
        background-size: 900px 320px;
    }
    
    .hero__text {
        align-self: center;
        width: 100%;
    }
    
    .hero__title {
        text-align: center;
        font-size: 40px;
    }
    
    .hero__subtitle {
        text-align: center;
    }
    
    .hero__buttons {
        display: flex;
        justify-content: center;
    }
    
    .buttons-hero__blue {
        margin-right: 14px;
    }
}

/* 530PX */
@media only screen and (max-width: 530px) {
    .hero {
        background-size: 900px 285px;
    }
}

/* 500PX */
@media only screen and (max-width: 500px) {
    .hero {
        background-position: calc(50% + 250px) 84px;
        background-size: 700px 260px;
    }
    
    .hero__title {
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 16px;
    }
}

/* 450PX */
@media only screen and (max-width: 450px) {
    .hero {
        background-size: 600px 220px;
    }
}

/* 400PX */
@media only screen and (max-width: 400px) {
    .hero {
        background-size: 600px 210px;
        background-position: calc(50% + 220px) 84px;
    }
}

/* 375PX */
@media only screen and (max-width: 375px) {
    .hero__img {
        width: 315px;
    }
    
    .hero {
        background-position: calc(50% + 170px) 52px;
        background-size: 577px 203px;
    }
    
    .hero__title {
        font-size: 30px;
        line-height: 40px;
    }
    
    .hero__subtitle {
        font-size: 15px;
        line-height: 25px;
    }
    
    .buttons-hero__blue,
    .buttons-hero__light {
        padding: 8px 20px;
    }
}

/* 365PX */
@media only screen and (max-width: 365px) {
    .site-header {
        padding-bottom: 60px;
    }
}

/* 350PX */
@media only screen and (max-width: 350px) {
    .mobile-login {
        width: 250px;
    }
    
    .site-header {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    
    .hero {
        background-size: 600px 210px;
        background-position: calc(50% + 220px) 40px;
    }
    
    .hero__text {
        padding-top: 70px;
    }
    
    .hero__title {
        font-size: 25px;
        line-height: 35px;
    }
    
    .hero__subtitle {
        font-size: 15px;
        line-height: 25px;
    }
    
    .buttons-hero__blue,
    .buttons-hero__light {
        padding: 7px 15px;
    }
}

/* 340PX */
@media only screen and (max-width: 340px) {
    
    .hero {
        background-size: 590px 190px;
        background-position: calc(50% + 220px) 40px;
    }
    
    .buttons-hero__blue,
    .buttons-hero__light {
        padding: 5px 12px;
    }
}

/* 320PX */
@media only screen and (max-width: 320px) {
    .hero {
        background-size: 570px 180px;
    }
    
    .buttons-hero__blue,
    .buttons-hero__light {
        padding: 5px 8px;
        font-size: 12px;
        line-height: 22px;
    }
}

/* 300PX */
@media only screen and (max-width: 300px) {
    .hero {
        background-size: 570px 165px;
    }
}